
#tnx h1{
    padding-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: darkolivegreen;
}
#tnx{
    background: linear-gradient(rgb(0, 39, 0),rgb(0, 199, 0));
}
.t{
    background: linear-gradient(rgb(0, 39, 0),rgb(0, 199, 0));
}
